# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.pyc

# Qt-es

/.qmake.cache
/.qmake.stash
*.user
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

.idea
.gdb_history
profilegc.log

compile_commands.json
/build*
/.cache
# en Translation files
*_en.ts
