# vim: sw=2
name: Lint

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  clang-tidy:
    name: clang-tidy / Ubuntu
    runs-on: ubuntu-24.04
    env:
      CC: clang-18
      CXX: clang++-18
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Run clang-tidy
        uses: ./.github/actions/run-linter
        with:
          lint_program_with_args: clang-tidy-cache clang-tidy-18 -p build --header-filter=.* --quiet --warnings-as-errors=*

  clazy:
    name: clazy / Ubuntu
    runs-on: ubuntu-24.04
    env:
      CC: clang-18
      CXX: clang++-18
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Run clazy
        uses: ./.github/actions/run-linter
        with:
          lint_program_with_args: clang-tidy-cache clazy-standalone -p build --header-filter=.* --checks=level1,no-fully-qualified-moc-types,no-non-pod-global-static,no-range-loop-detach

