# vim: sw=2
name: Test

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  ubuntu-qt5:
    name: Qt 5.15.2 / Ubuntu 22.04
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup CMake
        uses: ./.github/actions/cmake
        with:
          qt_version: 5.15.2
          qt_target: desktop
          use_qt6: OFF
          modules: ""
          asan: true

      - name: Build and test
        uses: ./.github/actions/build-and-test

  ubuntu-qt6-9:
    name: Qt 6.9.1 / Ubuntu 22.04
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup CMake
        uses: ./.github/actions/cmake
        with:
          qt_version: 6.9.1
          qt_target: desktop
          qt_arch: linux_gcc_64
          use_qt6: ON
          modules: &qt_modules "qtserialport qtwebsockets qtnetworkauth"
          asan: true

      - name: Build and test
        uses: ./.github/actions/build-and-test

  windows-mingw:
    name: Qt 6.9.1 / Windows MinGW
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup CMake
        uses: ./.github/actions/cmake
        with:
          qt_version: 6.9.1
          qt_target: desktop
          qt_arch: win64_mingw
          use_qt6: ON
          modules: *qt_modules
          # Need to get all binaries in the same directory, otherwise the tests can't find the dlls.
          additional_cmake_args: &windows_cmake_args >-
            -DLIBSHV_WITH_LDAP=OFF
            -DCMAKE_RUNTIME_OUTPUT_DIRECTORY='${{github.workspace}}/build/bin'
            -DCMAKE_LIBRARY_OUTPUT_DIRECTORY='${{github.workspace}}/build/bin'

      - name: Build and test
        uses: ./.github/actions/build-and-test

  windows-msvc:
    name: Qt 6.9.1 / Windows MSVC
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup CMake
        uses: ./.github/actions/cmake
        with:
          qt_version: 6.9.1
          qt_target: desktop
          qt_arch: win64_msvc2022_64
          use_qt6: ON
          modules: *qt_modules
          # Need to get all binaries in the same directory, otherwise the tests can't find the dlls.
          additional_cmake_args: *windows_cmake_args

      - name: Build and test
        uses: ./.github/actions/build-and-test

  android:
    name: Qt 6.9.1 / Android
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup CMake
        uses: ./.github/actions/cmake
        with:
          qt_version: 6.9.1
          qt_target: android
          qt_arch: android_arm64_v8a
          use_qt6: ON
          modules: *qt_modules
          additional_cmake_args: -DLIBSHV_WITH_LDAP=OFF

      - name: Build and test
        uses: ./.github/actions/build-and-test

  wasm:
    name: Qt 6.9.1 / WebAssembly
    runs-on: ubuntu-24.04
    env:
      emsdk_cache_dir: "emsdk-cache"
      emscripten_version: 3.1.56
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup emsdk cache
        uses: actions/cache@v4
        with:
          key: emsdk-cache-${{ env.emscripten_version }}
          path: ${{ env.emsdk_cache_dir }}

      - uses: mymindstorm/setup-emsdk@v14
        with:
          version: ${{ env.emscripten_version }}
          actions-cache-folder: ${{ env.emsdk_cache_dir }}

      - name: Setup CMake
        uses: ./.github/actions/cmake
        with:
          qt_version: 6.9.1
          qt_target: wasm
          qt_arch: wasm_singlethread
          use_qt6: ON
          modules: qtwebsockets

      - name: Build and test
        uses: ./.github/actions/build-and-test

  nix:
    name: Qt 6.6.2 / NixOS
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install Nix
        uses: cachix/install-nix-action@v20
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Build
        run: nix --experimental-features 'nix-command flakes' build -L .
      - name: Build Full
        run: nix --experimental-features 'nix-command flakes' build -L .#full
      - name: Build CLI
        run: nix --experimental-features 'nix-command flakes' build -L .#cli
      - name: Build for clients
        run: nix --experimental-features 'nix-command flakes' build -L .#forClients
      - name: Flake check
        run: nix --experimental-features 'nix-command flakes' flake check .
      - name: Format
        run: nix --experimental-features 'nix-command flakes' fmt . && git diff --exit-code
